<div class="col-10 offset-1 about">
  <h1>About the Poké-Quote Machine</h1>
  <br />
  <p>
    The Poké-Quote Machine is a random quote generator filled with quotes from any aspect of the Pokémon world. This includes the games, anime, manga, trading card game and companion books. We invite you to contribute your own favorite quotes from Pokémon! 
  </p>
  <p>
    This site was developed as a student project through <a target="_blank" href="https://www.thefirehoseproject.com">The Firehose Project.</a>
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rob.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Rob Black</h2>
      <br />
      <p>
        Rob Black is a Pokémon fan living in Los Angeles, CA. He grew up playing the video games and watching the anime before recently rediscovered his love of the world of Pokémon. His favorite Pokémon is Charizard, because he is basic af. 
      </p>
      <p>
        You can visit his personal website at <a target="_blank" href="http://www.robblack.me">robblack.me</a>.
      </p>
    </div>
  </div>

</div>