<div class="col-10 offset-1 about">
  <h1>About the Poké-Quote Machine</h1>
  <br />
  <p>
    The Poké-Quote Machine is a random quote generator filled with quotes from any aspect of the Pokémon world. This includes the games, anime, manga, tradic card game and books. We invite your to contribute your own favorite quotes from Pokémon! 
  </p>
  <p>
    Developed as a student project through <a target="_blank" href="https://www.thefirehoseproject.com">The Firehose Project.</a>
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rob.jpg', class: 'img-responsive' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Rob Black</h2>
      <br />
      <p>
        Rob Black is web development student living in Los Angeles, CA. He grew up playing the Pokémon video games and watching the anime before recently rediscovered his love of the world of Pokémon. His favorite Pokémon is Charizard, because he is basic af. 
      </p>
      <p>
        You can visit his personal website at <a target="_blank" href="https://www.robblack.me">robblack.me</a>.
      </p>
    </div>
  </div>

</div>