<div class="text-center">
    <%= image_tag 'pokeball2.png', class: 'img-fluid pokeball' %>
</div>
<h2>
  <span>Poké-Quote / No. <%= @quote.id %></span>
  Here's a nugget of Pokémon wisdom!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />